// 슬비쌤
.combobox {
	margin: 50px;
	border: 1px solid red;
	// display: inline-flex;
	// flex-flow: row nowrap;
	// align-items: center;
	// padding: 6px 16px;
	border-radius: 16px;
	display: inline-flex;
	position: relative;
	font-size: 14px;

	@media (min-width: 1024px) {
		font-size: 18px;
	}

	svg {
		position: absolute;
		inset-block-start: 50%;
		translate: 0 -50%;
		pointer-events: none;
		
		&:nth-of-type(1) {
			inset-inline-start: 8px;
		}

		&:nth-of-type(2) {
			inset-inline-end: 8px;
		}
	}

	label {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	select {
		appearance: none;
		border: 0;
		padding: 0 24px;
		// background-color: transparent;
	}
}



// 하늘
// 컬러 변수
$gray: #757575;
$red: #E50914;
$white: #fff;


@mixin sr-only() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

.header-title {
	@include sr-only()
}

.combo-ui {
	@include size(100%, auto);
	display: flex;
	flex-flow: row nowrap;
	gap: 1.5rem;
	margin: 50px;
}

.combo__select {
	@include size(113px, 40px);
	color: $gray;
	appearance: none;
	border: 1px solid $gray;
	border-radius: .125rem;
	text-align: center;
	background-image: 
	url(/src/assets/icon/global.svg),
	url(/src/assets/icon/triangle.svg);
	background-position: 10px center, 90px center;
	background-repeat: no-repeat; 
}

.button-login {
	@include size(auto, 40px);
	border: 0;
	background-color: $red;
	color: $white;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.75rem 1.25rem;
	border-radius: .25rem;
	text-align: center;
}
