@use "./../base";
@use "./../abstracts" as *;
@use "./icons";

// 슬비쌤
.combobox {
	$light-text-color: $secondary-color;
	$dark-text-color: $accent-color;

	color: light-dark($light-text-color, $dark-text-color);

	margin: 50px;
	border: 1px solid currentColor;
	// display: inline-flex;
	// flex-flow: row nowrap;
	// align-items: center;
	// padding: 6px 16px;
	border-radius: 16px;
	display: inline-flex;
	position: relative;
	font-size: 14px;

	@media (min-width: 1024px) {
		font-size: 18px;
	}

	svg {
		position: absolute;
		inset-block-start: 50%;
		translate: 0 -50%;
		pointer-events: none;
		
		&:nth-of-type(1) {
			inset-inline-start: 8px;
		}

		&:nth-of-type(2) {
			inset-inline-end: 8px;
		}
	}

	label {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	select {
		color: inherit;
		appearance: none;
		border: 0;
		padding: 0 24px;
		background-color: transparent;
	}
}


// 하늘
// 컬러 변수
$hn-gray: #757575;
$hn-red: #E50914;
$hn-white: #fff;


@mixin sr-only() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin hn-size($hn-width, $hn-height) {
	width: $hn-width;
	height: $hn-height;
}

.header-title {
	@include sr-only()
}

.combo-ui {
	@include hn-size(100%, auto);
	display: flex;
	flex-flow: row nowrap;
	gap: 1.5rem;
	margin: 50px;
}

.combo__select {
	@include hn-size(113px, 40px);
	color: $hn-gray;
	appearance: none;
	border: 1px solid $hn-gray;
	border-radius: .125rem;
	text-align: center;
	background-image: 
	url(/src/assets/icon/global.svg),
	url(/src/assets/icon/triangle.svg);
	background-position: 10px center, 90px center;
	background-repeat: no-repeat; 
}

.button-login {
	@include hn-size(auto, 40px);
	border: 0;
	background-color: $hn-red;
	color: $hn-white;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.75rem 1.25rem;
	border-radius: .25rem;
	text-align: center;
}
