<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>콤보 박스 컴포넌트</title>
	<link rel="stylesheet" href="/src/style/main.css">
</head>
<body>
	<h1 class="header-title">콤보 박스</h1>

	<div class="combo-ui">
		<select name="combo__select" id="combo__select" class="combo__select">
			<option value="한국어">한국어</option>
			<option value="영어">영어</option>
		</select>
		<button type="button" class="button-login">로그인</button>
	</div>
</body>
</html>